<!-- <script src="scripts/material.min.js"></script> -->
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#student-panel" class="mdl-tabs__tab is-active">Add Student Info</a>
    <a href="#parent-panel" class="mdl-tabs__tab">Add Parent Info</a>
    <a href="#Transportation-panel" class="mdl-tabs__tab">Add Transportation </a>
    <a href="#documents-panel" class="mdl-tabs__tab">Add Documents </a>
    <a href="#address-panel" class="mdl-tabs__tab">Add Address</a>
    

    
  </div>
  <div class="mdl-tabs__panel is-active" id="student-panel">
   <div class="mdl-grid">
  
      <div class="mdl-cell mdl-cell--6-col"> 
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Admission Date</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">Roll Number</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">First Name</label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Last Name</label>
        </div>
    </div>
      <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">EMIS Number</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">DOB</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>
    <div class="mdl-cell mdl-cell--6-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Religion</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Nationality</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Caste</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Gender</label>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">Alabama</option>
                <option value="option2">Alaska</option>
                <option value="option3">Arizona</option>
                <option value="option4">Wyoming</option>
              </select>
              <label class="mdl-select__label" for="professsion">Blood Group</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">First Language</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Class</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Second Language</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Section</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Third Language</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Medium</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Mother Tongue</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Admitted Class</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Scholarship Type</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Admitted Section</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Scholarship Applied</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">Student Type</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="professsion" name="professsion">
                <option value=""></option>
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
                <option value="option3">option 3</option>
                <option value="option4">option 4</option>
                <option value="option5">option 5</option>
              </select>
              <label class="mdl-select__label" for="professsion">ID Proof</label>
      </div>
    </div>
  </div>
</div>





<div class="mdl-tabs__panel is-active" id="parent-panel">
   <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col"> 
      Father Details
      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Name</label>
        </div>

      </div>

      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Relationship</label>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Qualification</label>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Occupation</label>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Email Address</label>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">Contact Number</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">Mobile Number</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col"> 
      Mother Details
      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Name</label>
        </div>

      </div>

      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Relationship</label>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Qualification</label>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Occupation</label>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Email Address</label>
        </div>

      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">Contact Number</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">Mobile Number</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mdl-tabs__panel is-active" id="Transportation-panel">
   <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col"> 
    TRANSPORTATION
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                <select class="mdl-select__input" id="professsion" name="professsion">
                  <option value=""></option>
                  <option value="option1">option 1</option>
                  <option value="option2">option 2</option>
                  <option value="option3">option 3</option>
                  <option value="option4">option 4</option>
                  <option value="option5">option 5</option>
                </select>
                <label class="mdl-select__label" for="professsion">Route Name</label>
        </div>
      </div>
    
     <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                <select class="mdl-select__input" id="professsion" name="professsion">
                  <option value=""></option>
                  <option value="option1">option 1</option>
                  <option value="option2">option 2</option>
                  <option value="option3">option 3</option>
                  <option value="option4">option 4</option>
                  <option value="option5">option 5</option>
                </select>
                <label class="mdl-select__label" for="professsion">Location</label>
        </div>
      </div>
    
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                <select class="mdl-select__input" id="professsion" name="professsion">
                  <option value=""></option>
                  <option value="option1">option 1</option>
                  <option value="option2">option 2</option>
                  <option value="option3">option 3</option>
                  <option value="option4">option 4</option>
                  <option value="option5">option 5</option>
                </select>
                <label class="mdl-select__label" for="professsion">Vehicle Number</label>
        </div>
      </div>
    
       <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                <select class="mdl-select__input" id="professsion" name="professsion">
                  <option value=""></option>
                  <option value="option1">option 1</option>
                  <option value="option2">option 2</option>
                  <option value="option3">option 3</option>
                  <option value="option4">option 4</option>
                  <option value="option5">option 5</option>
                </select>
                <label class="mdl-select__label" for="professsion">Route Type</label>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="mdl-tabs__panel is-active" id="documents-panel">
   <div class="mdl-grid">
   <div class="mdl-cell mdl-cell--12-col">
      Documents and Certificates
      </div>

    <div class="mdl-cell mdl-cell--6-col"> 
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Birth_Certificates">
        <input type="checkbox" id="Birth_Certificates" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Birth Certificates</span> <!-- Checkbox Label -->
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Transfer">
        <input type="checkbox" id="Transfer" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Transfer Certificates</span> <!-- Checkbox Label -->
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Residence">
        <input type="checkbox" id="Residence" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Residence Certificate</span> <!-- Checkbox Label -->
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="NOC">
        <input type="checkbox" id="NOC" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">NOC</span> <!-- Checkbox Label -->
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Passing">
        <input type="checkbox" id="Passing" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">SSC or HSC Passing Certificate</span> <!-- Checkbox Label -->
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Marks_sheet">
        <input type="checkbox" id="Marks_sheet" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">SSC or HSC Marks sheet</span> <!-- Checkbox Label -->
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="INTER">
        <input type="checkbox" id="INTER" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">INTER TC</span> <!-- Checkbox Label -->
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="Degree">
        <input type="checkbox" id="Degree" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Degree TC</span> <!-- Checkbox Label -->
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ADHAAR">
        <input type="checkbox" id="ADHAAR" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">ADHAAR</span> <!-- Checkbox Label -->
      </label>
    </div>
  </div>
</div>


<div class="mdl-tabs__panel is-active" id="address-panel">
   <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col"> 
        Temporary Address
        <div class="mdl-cell mdl-cell--6-col">
          <div class="mdl-cell mdl-cell--12-col"> 
            <div class="mdl-textfield mdl-js-textfield">
              <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
              <label class="mdl-textfield__label" for="sample5">Address</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-select mdl-js-select mdl-select--floating-label">
                      <select class="mdl-select__input" id="professsion" name="professsion">
                        <option value=""></option>
                        <option value="option1">option 1</option>
                        <option value="option2">option 2</option>
                        <option value="option3">option 3</option>
                        <option value="option4">option 4</option>
                        <option value="option5">option 5</option>
                      </select>
                      <label class="mdl-select__label" for="professsion">State</label>
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--6-col">
          <div class="mdl-cell mdl-cell--12-col"> 
            <div class="mdl-cell mdl-cell--12-col"> 
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Occupation</label>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-select mdl-js-select mdl-select--floating-label">
                      <select class="mdl-select__input" id="professsion" name="professsion">
                        <option value=""></option>
                        <option value="option1">option 1</option>
                        <option value="option2">option 2</option>
                        <option value="option3">option 3</option>
                        <option value="option4">option 4</option>
                        <option value="option5">option 5</option>
                      </select>
                      <label class="mdl-select__label" for="professsion">Country</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                <label class="mdl-textfield__label" for="sample4">Pin Code</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
            </div>
          </div>
        </div>
        

    </div>
    <div class="mdl-cell mdl-cell--6-col">
    <p>Permanent Address</p>
    </div>
    <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-cell mdl-cell--6-col">
          <div class="mdl-cell mdl-cell--12-col"> 
            <div class="mdl-textfield mdl-js-textfield">
              <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
              <label class="mdl-textfield__label" for="sample5">Address</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-select mdl-js-select mdl-select--floating-label">
                      <select class="mdl-select__input" id="professsion" name="professsion">
                        <option value=""></option>
                        <option value="option1">option 1</option>
                        <option value="option2">option 2</option>
                        <option value="option3">option 3</option>
                        <option value="option4">option 4</option>
                        <option value="option5">option 5</option>
                      </select>
                      <label class="mdl-select__label" for="professsion">State</label>
              </div>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--6-col">
          <div class="mdl-cell mdl-cell--12-col"> 
            <div class="mdl-cell mdl-cell--12-col"> 
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Occupation</label>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-select mdl-js-select mdl-select--floating-label">
                      <select class="mdl-select__input" id="professsion" name="professsion">
                        <option value=""></option>
                        <option value="option1">option 1</option>
                        <option value="option2">option 2</option>
                        <option value="option3">option 3</option>
                        <option value="option4">option 4</option>
                        <option value="option5">option 5</option>
                      </select>
                      <label class="mdl-select__label" for="professsion">Country</label>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                <label class="mdl-textfield__label" for="sample4">Pin Code</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
            </div>
          </div>
        </div>
        

    </div>
    <div class="mdl-cell mdl-cell--12-col">
    <p>Contact Information</p>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
       <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Email Address</label>
          </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
        <label class="mdl-textfield__label" for="sample4">Contact Number</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
        <label class="mdl-textfield__label" for="sample4">Mobile Number</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <p>Identification Marks</p>
    </div>
    <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-cell mdl-cell--12-col">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Mark 1</label>
              </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Mark 2</label>
              </div>
        </div>
    </div>

    Previous Institution Information

    <div class="mdl-cell mdl-cell--12-col"> 
        <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Institution Name</label>
              </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Class</label>
              </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Board</label>
              </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">Total Marks</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>
      <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
          <label class="mdl-textfield__label" for="sample4">Percentage</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
      </div>

    </div>
</div>



<!--
  <div class="mdl-tabs__panel" id="parent-panel_dummy">
    <p>The Beatles' members were:</p>
    <ul>
      <li>John Lennon (1940-1980)</li>
      <li>Paul McCartney (1942-)</li>
      <li>George Harrison (1943-2001)</li>
      <li>Ringo Starr (1940-)</li>
    </ul>
  </div>
  <div class="mdl-tabs__panel" id="address-panel">
    <p>The Beatles' original UK LPs, in order of release:</p>
    <ol>
      <li>Please Please Me (1963)</li>
      <li>With the Beatles (1963)</li>
      <li>A Hard Day's Night (1964)</li>
      <li>Beatles for Sale (1964)</li>
      <li>Help! (1965)</li>
      <li>Rubber Soul (1965)</li>
      <li>Revolver (1966)</li>
      <li>Sgt. Pepper's Lonely Hearts Club Band (1967)</li>
      <li>The Beatles ("The White Album", 1968)</li>
      <li>Yellow Submarine (1969)</li>
      <li>Abbey Road (1969)</li>
      <li>Let It Be (1970)</li>
    </ol>
  </div>
  <div class="mdl-tabs__panel" id="documents-panel">
    <p>The Beatles' original UK LPs, in order of release:</p>
    <ol>
      <li>Please Please Me (1963)</li>
      <li>With the Beatles (1963)</li>
      <li>A Hard Day's Night (1964)</li>
      <li>Beatles for Sale (1964)</li>
      <li>Help! (1965)</li>
      <li>Rubber Soul (1965)</li>
      <li>Revolver (1966)</li>
      <li>Sgt. Pepper's Lonely Hearts Club Band (1967)</li>
      <li>The Beatles ("The White Album", 1968)</li>
      <li>Yellow Submarine (1969)</li>
      <li>Abbey Road (1969)</li>
      <li>Let It Be (1970)</li>
    </ol>
  </div>
</div>


<form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
    <label class="mdl-textfield__label" for="sample4">Number...</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
</form>

-->